.pagina-interna {
     
    background-image: url(../imagenes/GIT.jpg); 
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
    
   
    background-color: rgba(90, 86, 86, 0.342); 
    background-blend-mode: overlay;
}

h1 {
    color: aliceblue;
    text-align: center;
}