.pagina-inicio {
    
    background-image: url(../imagenes/comp.jpg); 
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
    
   
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: overlay;

    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    margin: 0; 
}

.pagina-inicio h1 {
    margin-bottom: 100px;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1.2); 
}


.pagina-inicio ol li {
    margin-bottom: 40px; 
    font-size: 1.3rem;    
    text-align: center;
    list-style: none;
}

.pagina-inicio a {
    color: #3269e0;      
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255); 
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;        
    display: inline-block;
}


.pagina-inicio a:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.2); 
}