.pagina-interna {
     
    background-image: url(../imagenes/blibio.png); 
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
    
   
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: overlay;

    background-color: white;
    margin: 20px 0;      
    padding: 15px;       
    border-radius: 8px;  
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1); 
    text-align: justify; 
    padding: 20px; 
}

h4 {
    color: #2c3e50;
    margin-top: 0;       
    text-align: left;    
    border-bottom: 2px solid #3498db; 
}

.working { border-left: 5px solid #e7651a; }   
.staged { border-left: 5px solid #1da2fc; }    
.committed { border-left: 5px solid #7d8681; } 

