/* Configuración del fondo de la página */
body.pagina-interna {
    background-image: url('../imagenes/blibio.png'); 
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed; 
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece un poco la imagen */
    background-blend-mode: overlay;
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centra el contenido verticalmente */
    font-family: Arial, sans-serif;
}

/* Contenedor del Formulario */
.login-container {
    background-color: white; /* color del cuadro */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 350px;
}

h4 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

/* Campos de entrada */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evita que el input se salga del cuadro */
}

/* Botón */
.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: #2980b9;
}

.footer-text {
    font-size: 0.9em;
    text-align: center;
    margin-top: 15px;
}